<h1>etsy*trade</h1>
<h2>Battle of the Trades Begins</h2>
<div id="status">[...]</div>
<form id="login" name="login" method="post">
    <p>
        <label for="username">Enter your name:</label>
        <input id="username" type="text" />
        <input type="submit" value="Begin" />
    </p>
</form>
<div id="rooms">
    <p>Available rooms:</p>
    <ul></ul>
</div>
<div id="waiting">
    <p class="status"></p>
    <p>Users:</p>
    <ul></ul>
</div>
<div id="game">
    <p>
        Player 1:
    </p>
    <p>
        Player 2:
    </p>
    <p>
        Player 3:
    </p>
    <p>
        Player 4:
    </p>
</div>