<h1>etsy*trade</h1>
<div id="status">[...]</div>
<form id="login" name="login" method="post">
    <p>
        <label for="username">Enter your name:</label>
        <input id="username" type="text" />
        <input type="submit" value="Begin" />
    </p>
</form>
<div id="rooms">
    <p>Available rooms:</p>
    <ul></ul>
</div>
<div id="waiting">
    <p class="status"></p>
    <p>Users:</p>
    <ul></ul>
</div>
<div id="game">
    <div id="instruction"><b></b><span></span></div>

    <div style="clear:both;">
        <div class="table-proposed"><p>Proposed:</p></div>
        <div class="table-offered"><p>Offered:</p></div>
    </div>
    <div style="clear:both;"></div>

    <div class="your-cards"><p>Your cards:</p></div>
    <div class="your-locked-cards"></div>

    <div class="other-players"></div>
</div>
<div id="winners">
    <h2>Game over!</h2>
    <div class="status"></div>
    <div class="winner">

    </div>
    <div class="losers">

    </div>
</div>