<h1>etsy*trade</h1>
<h2>Battle of the Trades Begins</h2>
<p>This game is a battle of wit!</p>

<div id="status">[...]</div>
<form id="login" name="login" method="post">
    <p>
        <label for="username">Enter your name:</label>
        <input id="username" type="text" />
        <input type="submit" value="Begin" />
    </p>
</form>
<div id="rooms">
    <p>Available rooms:</p>
    <ul></ul>
</div>
<div id="waiting">
    <p class="status"></p>
    <p>Users:</p>
    <ul></ul>
</div>
<div id="game">
    <p>Players:</p>
    <ul class="users"></ul>
    <p>Your cards:</p>
    <div id="instruction"><b></b><span></span></div>
    <div class="table-center"></div>
    <div class="other-players"></div>
    <div class="your-cards"></ul>
</div>