body {
  color: white;
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1px;
}
h1 {
  font-size: 90px;
  font-weight: 100;
}